@import '~golden-layout/src/scss/goldenlayout-base.scss';
@import '~golden-layout/dist/css/themes/goldenlayout-borderless-dark-theme.css';

body,html{
    margin:0;
    padding:0;
}
body,html,#golden-layout {
    width: 100%;
    height: 100%;
}
