@import '~golden-layout/src/scss/goldenlayout-base.scss';
@import '~golden-layout/dist/css/themes/goldenlayout-borderless-dark-theme.css';

body,html{
    margin:0;
    padding:0;
}
body,html,#golden-layout {
    width: 100%;
    height: 100%;
}
// .monaco-editor .view-overlays .current-line,
// .eval-window .current-line,
// .eval-window .view-overlays,
.eval-window .view-overlays .current-line {
    border: 1px solid rgba(255, 166, 0, 0.548) !important;
}