@import '~golden-layout/src/scss/goldenlayout-base.scss';
// @import '~golden-layout/dist/css/themes/goldenlayout-borderless-dark-theme.css';
// @import '~golden-layout/dist/css/themes/goldenlayout-light-theme.css';
@import '~golden-layout/dist/css/themes/goldenlayout-light-theme.css';

// @import './Fira_Code_v6.2/fira_code.css';
@import './webfontkit-20220326-021040/stylesheet.css';


// @font-face {
//     font-family: 'Liberation Mono';
//     src: url('./LiberationMono-Regular.ttf') format('truetype');
//   }
// @font-face {
//     font-family: 'SF Mono';
//     font-weight: 200; font-style: normal;
//     src: url('./SFMono.ttf') format('truetype');
// }
// @font-face {
//     font-family: 'SF Mono Light';
//     src: url('./SF-Mono-Light.otf') format('opentype');
// }

// @import './SF-Mono-Light.otf';
.lm_goldenlayout {
    background: inherit;
    color: inherit;
    background-color: inherit;
}

// .lm_splitter {
//     color: #ffffff7f;
//     background: #ffffff7f;
//     background-color: #ffffff7f;

//     mix-blend-mode: difference;
// }
.lm_splitter {
    background: #8b8b8b6c;
    background-color: #8b8b8b6c;
    color: #8b8b8b6c;
    border-color: #8b8b8b6c;
    mix-blend-mode: difference;
}
// .lm_items {
//     background-color: white;
//     mix-blend-mode: normal;
// }
.lm_content {
    background: inherit;
    background-color: inherit;

    border: 1px solid #8b8b8b6c;
    // mix-blend-mode: difference;
    mix-blend-mode: normal;

}
.monaco-editor {
    background: white;
    color: black;
    background-color: white;
    mix-blend-mode: normal;

}
.eval-container,
.program-container,
.input-container {
    mix-blend-mode: normal;
}
.lm_header
.lm_tab {
    // color: inherit;
    // background: inherit;
    // background-color: inherit;

    border: 1px solid #8b8b8b6c;
    // border: 1px solid #797979;

    // mix-blend-mode: difference;
}
.lm_header,
.lm_tabs,
.lm_tab.lm_active {
    // background: #00000000;
    color: inherit;
    background: inherit;
    // background: #797979;
    background-color: inherit;
    // border: 1px #ffffff;
    border-color: #8b8b8b6c;
    // mix-blend-mode: luminosity;
    // border: 1px solid #cccccc;
    // isolation: isolate;
}
.lm_tab.lm_active {
    background: #b8b8b848;
}
body,html{
    margin:0;
    padding:0;
    // background-color: #1a2e34;
}
body,html,#golden-layout {
    width: 100%;
    height: 100%;
}

// .monaco-editor .view-overlays .current-line,
// .eval-window .current-line,
// .eval-window .view-overlays,
.eval-input-window .view-overlays .current-line {
    border: 2px solid rgba(255, 166, 0, 0.548) !important;
    height: 20;
}
.eval-output-window .view-overlays .current-line {
    border: 0.5px solid rgba(255, 166, 0, 0.548) !important;
}
.eval-output-window .monaco-editor .view-overlays .current-line {
    // background-color: #1a2e34;
    background-color: #00000000;
}

.eval-output-window .monaco-editor .cursors-layer .cursor {
    display: none !important;
}